/*DETAIL BLOG*/
.detail-blog-page .main-content{ background: #fff; padding: 20px 15px;}
.detail-blog-page #selling-wp{ margin-top: 0;}
.detail-blog-page #social-wp{ margin-top: 25px;}
#detail-blog-wp .category{
    display: block;
    margin-top: 20px;

    color: black;
    font-size: 20px;
}
#detail-blog-wp .section-title{
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    font-family: "Roboto Regular";
    padding-bottom: 10px;
    margin: 20px 0;
}
#detail-blog-wp .tags{
    margin: 16px 0;
}
#detail-blog-wp .tags span{
    font-size: 20px;
    font-weight: 600;
}
#detail-blog-wp .tags .tag{
    display: inline-block;
    padding: 4px 8px;

    border-radius: 2px;

    background: #2980b9;
    color: white;
    
    font-size: 12px;
    line-height: normal;
}
#detail-blog-wp .create-date{
    position: relative;
    display: block;
    font-size: 13px;
    color: #989898;
    padding-left: 20px;
    padding-bottom: 10px;
}
#detail-blog-wp .create-date:before{
    position: absolute;
    content: '\f017';
    font-family: 'FontAwesome';
    top: 0;
    left: 0;
    font-size: 14px;
}
#detail-blog-wp .desc{
    color: #6b6b6b;
    line-height: 26px;
}

#detail-blog-wp .detail.content{
    position:relative; 
    height: 1500px; 
    overflow: hidden;
}
#detail-blog-wp .detail.content.show-content{
    height: auto; 
    padding-bottom: 78px;
}

#detail-blog-wp .detail.content::after{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
    width: 100%;
    height: 200px;
}

#detail-blog-wp .detail.content.show-content::after{
    content: none;
}

#detail-blog-wp .detail .btn{
    display: none;
    padding: 8px 36px;

    border: 1px solid #2980b9;
    border-radius: 4px;

    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    color: #2980b9;
    background: white;

    transition: 0.3s all ease-in-out;
}

#detail-blog-wp .detail.content .readmore-btn{
    border: 1px solid #2980b9;
    color: #2980b9;
    background: white;
}
#detail-blog-wp .detail.content .readless-btn{
    border: 1px solid #ecf0f1;
    color: black;
    background: white;
}
#detail-blog-wp .detail.content .readmore-btn:hover{
    background: #2980b9;
    color: white;
} 
#detail-blog-wp .detail.content .readless-btn:hover{
    border: 1px solid black;
    color: #ecf0f1;
    background: black;
} 

#detail-blog-wp .detail p{
    color: #555;
    line-height: 28px;
    padding-bottom: 10px;
    text-align: justify;
}
#detail-blog-wp .detail p strong{ font-family: 'Roboto Medium'; font-weight: normal; color: #333;}
#detail-blog-wp .detail p img{
    margin: 5px 0px;
    border: 1px solid #D2D2D2;
    display: inline-block;
}
#list-related-wp .item-wp{ padding: 0px 10px;}
#list-related-wp .item-wp .info a{
    display: block;
    color: #222;
    font-family: 'Roboto Medium';
    font-weight: normal;
    padding-top: 10px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}
#list-related-wp{ position: relative;}
#list-related-wp .owl-controls .owl-buttons div{
    position: absolute;
    top: 65px;
    width: 30px;
    height: 50px;
    background: #fff;
    line-height: normal;
    border: 1px solid #cacaca;
}
#list-related-wp .owl-controls .owl-buttons div.owl-prev{ left: 0;}
#list-related-wp .owl-controls .owl-buttons div.owl-next{ right: 0;}
#list-related-wp .owl-controls .owl-buttons div:before{
    position: absolute;
    content: '\f104';
    font-family: 'Fontawesome';
    font-size: 18px;
    color: #222;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#list-related-wp .owl-controls .owl-buttons div.owl-next:before{
    content: '\f105';
}
#list-related-wp{ padding-top: 50px;}